body {
  margin: 0;
  padding: 0;
}


.main-board {
  height: 100vh;
  display: flex;
  align-items: center;
}



#mem-game {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* grid-gap: 90px 30px; */
  margin: 0 auto;
  width: 100vh;
}


.mem-card {
  cursor: pointer;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.mem-card img {
  width: 70%;
  height: 40%;
}

.mem-card.open {
  background: #fea;
  width: 100%;
  height: 200px;
}

.mem-card.right {
  background: #b3ffc0;
  width: 100%;
  height: 200px;
}

.mem-card.wrong {
  background: #ffb6b6;
  width: 100%;
  height: 200px;
}

/* .mem-card.right img {
  width: 70%;
  height: 40%;
}

.mem-card.wrong img {
  width: 70%;
  height: 40%;
}


.mem-card.open img {
  width: 70%;
  height: 40%;
} */